/* App.css */
.Navbar {
  text-align: center; /* Centrar el texto */
  padding: 20px; /* Agregar un poco de espacio alrededor */
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(135, 133, 133, 0.85);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para la tabla de horarios */

.schedule-table-container {
  margin-top: 20px;
  text-align: center;
}

.schedule-table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 100%;
}

.schedule-table th, .schedule-table td {
  border: 1px solid rgb(206, 193, 8);
  padding: 8px;
}

body {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  font-family: Arial, sans-serif; /* Fuente de texto */
}

.container {
  max-width: 1200px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centrar el contenido horizontalmente */
  padding: 20px; /* Espacio alrededor del contenido */
}

h1, h2, h3, h4, h5, h6 {
  color: #ffd700; /* Texto dorado */
}

p {
  line-height: 1.6; /* Espaciado entre líneas */
}

/* Estilo para los enlaces */
a {
  color: #ffd700; /* Texto dorado */
  text-decoration: none; /* Sin subrayado */
  transition: color 0.3s ease; /* Transición suave del color */
}

a:hover {
  color: #c0c0c0; /* Cambio de color al pasar el ratón */
}

/* Estilo para los botones */
button {
  background-color: #ffd700; /* Fondo dorado */
  color: #000; /* Texto negro */
  padding: 10px 20px; /* Espacio dentro del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de puntero */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

button:hover {
  background-color: #c0c0c0; /* Cambio de color al pasar el ratón */
}

/* Estilo para las líneas doradas */
.gold-line {
  border-bottom: 1px solid #ffd700; /* Línea dorada */
  margin-bottom: 20px; /* Espacio debajo de la línea */
}


.silver-line {
  border-bottom: 1px solid #c0c0c0; 
  margin-bottom: 20px; 
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

